<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  </head>
 <body>
   <form>
     <h1>Create a Basketball Team!</h2>
     <p>Team Name: <input type="text" id="team_name"></p>
     <p>Coach: <input type="text" id="coach"></p>
     <p>Point Guard: <input type="text" id="point_guard"></p>
     <p>Shooting Guard: <input type="text" id="shooting_guard"></p>
     <p>Small Forward: <input type="text" id="small_forward"></p>
     <p>Power Forward: <input type="text" id="power_forward"></p>
     <p>Center: <input type="text" id="center"></p>
     <input type="submit">
   </form>
 </body>
</html>
