<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  </head>
 <body>
   <form>
     <h1>Create a Basketball Team!</h2>
     <input type="text" name="team_name">Team Name</input>
   </form
 </body>
</html>
